#otherShift > div button {
  font-size: 80%;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  border: 0;
  border-radius: 4px;
  background-color: #ddd;
}
#otherShift > div button:hover,
#otherShift > div button.selected {
  background-color: #0f7378;
  color: white;
}
#otherShift table td .plugin-time-am,
#otherShift table td .plugin-time-pm {
  display: inline-block;
  padding: 0 .5em;
  margin-left: .25em;
  border-radius: .25em;
}

#otherShift table td .plugin-time-am {
  background-color: #ff0;
  border: 1px solid #cc0;
}
#otherShift table td .plugin-time-pm {
  background-color: #888;
  border: 1px solid #333;
  color: white;
}

#otherShift #plugin-time-am,
#otherShift #plugin-time-pm {
  width: 80px;
  background-color: rgba(0,0,0,0);
}

#otherShift #plugin-time-am{
  border: 1px solid #cc0;
}
#otherShift #plugin-time-pm {
  border: 1px solid #888;
}
#otherShift #plugin-time-am:hover,
#otherShift #plugin-time-am.selected {
  background-color: #ff0;
  color: #333;
}
#otherShift #plugin-time-pm:hover,
#otherShift #plugin-time-pm.selected {
    background-color: #888;
  color: white;
}
