.sidemenu-fixed a[href$="memos"] {
  font-weight: bold;
  display:inline-block;
  color:white;
  background-color:#0F7378;
  padding: 0 5px;
  margin:0 5px;
}

.auto-open-the-cloud9 {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  border: 0;
  background-color:#0F7378;
  border-radius: 5px;
  color: white;
  padding: 0 10px;
  margin-left:1em;
}
