@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body {
  overflow-y: scroll;
}

#wrapper {
  margin-top: 0 !important;
}

#mergely-splash {
  height: auto !important;
}

.CodeMirror-code {
  color: #222 !important;
}

#page-content-wrapper {
  padding-bottom: 0 !important;
}

#whenDiffFromGit {
  color: #888;
  font-size: 10px;
  font-weight: bold;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header {
  position: relative;
  padding-top: 50px;
  height: 130px;
  line-height: 1.6;
  visibility: hidden;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .controller {
  position: absolute;
  left: calc(50% - 160px);
  bottom: 0;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 300px;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .controller .numChanges {
  width: 60px;
  text-align: center;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .labels > div {
  position: absolute;
  bottom: 0;
  width: 300px;
  text-align: center;
  font-weight: bold;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .labels .student {
  left: calc(25% - 150px);
  background-color: #fcc;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .labels .student a{
  color: red;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .labels .review {
  left: calc(75% - 150px);
  color: blue;
  background-color: #ccf;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .message_area {
  position: absolute;
  left: calc(50% - 200px);
  top: 35px;
  width: 400px;
  height: 60px;
  padding: 0 5px;

  background-color: white;
  z-index: 99;
  border: 1px solid #888;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: scroll;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header .message_area button {
  padding: 0;
  line-height: 1;
  border: 0;
  background: none;
  color: #f00;
  text-decoration: underline;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .header label {
  margin-bottom: 0;
  user-select: none;
}


#page-content-wrapper > .container-fluid > .row > .col-lg-12 select {
  padding: 0.5em;
  width: 200px;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .flex {
  display: flex;
  align-items: flex-start;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .align-self-center {
  align-self: center;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .direction-column {
  flex-direction: column;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .wrap {
  flex-wrap: wrap;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .column-gap-20 {
  column-gap: 20px;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .height-full {
  height: 100%;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .mergely-area {
  position: relative;
  width: 100%;
  font-size: 13px;
  line-height: 1.3;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .CodeMirror {
  font-family: 'IBM Plex Mono', monospace;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .mergely.ch.d.lhs {
  text-decoration: none;
}

#page-content-wrapper > .container-fluid > .row > .col-lg-12 .merge-button {
  height: 23px !important;
  color: #000 !important;
}

#mergely {
  height: calc(100vh - 150px);
}